@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  height:100vh;
  background: #22223a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.container{
  width: 800px;
  height: 500px;
  background: white;
  position: relative;
}
.game{
  /* display: none; */
}
.content{
  padding: 50px;
}
.question{
  font-size: 40px;
}
.answer{
  margin-bottom: 20px;
  font-size: 24px;
  color:#333;
}


.submit{
  background: rebeccapurple;
  color:white;
  border: none;
  width: 100%;
  outline:none;
  height: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 0; 
}
.submit:hover{
  background: rgb(62, 24, 100);
}
.result{
  display:none;
  padding: 50px;
  text-align:center ;
}

.result h1{
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.correct{
  color: green;
}

.wrong{
  color: red;
}

.play{
  color: white;
  background:rebeccapurple;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

@media screen and (min-width:300px) {
  .container{
    width: 90%;
    height: 90%;
  }
  .container h1{
    display:flex;
    font-size:25px;
    align-items: center;
    justify-content: center;
  }
  /* .container button{
    margin-bottom: 20px;
  } */
}